// colors
$global-black: #0C0904;
$global-gold: #CBB77E;
$global-white: #fffaf0;
$global-light-gray: #FFF0F5;
$global-medium-gray: #656769;
$global-hot-pink: #EA324E;

// typefaces
$regular-font: 'Noto Sans JP', sans-serif;
$header-font:  'Contrail One', cursive;

// element selectors
body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  background: $global-light-gray;
  color: $global-black;
  font-family: $header-font;
  letter-spacing: 0.25rem;
  padding: 1rem;
  text-shadow: -3px 3px $global-hot-pink;
  width: 70%;
}

i {
  color: lightgray;
  margin-left: 0.5rem;
}

p {
  color: $global-medium-gray;
  margin: 0 auto;
}

// custom selectors
.mapboxgl-ctrl, .mapboxgl-ctrl-attrib,.mapboxgl-compact {
  display: none;
}

.header {
  align-items: stretch;
  box-shadow: 0px 2px 4px 1px darkgray;
  display: flex;

  &__letter {
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    font-size: clamp(1rem, 3vw, 2.5rem);
    justify-content: center;
    margin: auto;
    transition: 500ms;

    &:hover {
      box-shadow: inset 0px 4px 6px -1px black;
      transition-property: box-shadow;
      transition-duration: 50ms;
    }
  }
}

.info-container {
  box-shadow: 0 0.125rem 16px -7px #0C0904;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.info-container {

  &__map {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 1rem 0 0 2rem;
    width: 45%;
  }

  &__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 1rem 0 0 2rem;
    width: 45%;

    & a {
      color: #CBB77E;
      font-family: "Contrail One",cursive;
      font-size: 1.5rem;
      letter-spacing: 0.075rem;
      margin: 0.75rem 0 0.5rem 0;
      padding: 0.5rem;
      text-decoration: none;
      width: 80%;

      &:hover {
        color: #EA324E;
      }
    }
  }
}

.team-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  text-align: center;
  width: 90%;

  &__caption {
    background: $global-light-gray;
    font-family: $header-font;
    font-size: 1.5rem;
    letter-spacing: 0.075rem;
    margin: 0.75rem 0 0.5rem 0;
  }

  &__header {
    & img {
      object-fit: cover;
      width: 15rem;
    }
  }

  &__image {
    box-shadow: 0px 2px 4px 2px gray;
    object-fit: cover;
    width: 100%;
  }
}

.teams-container {
  align-items: center;
  box-shadow: 0 0.125rem 16px -7px #0C0904;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 1rem;
  padding: 1rem;
  
  &__logo {
    height: 8rem;
  }

  &__logo-container {
    align-items: center;
    background: darkgray;
    box-shadow: 0 0.125rem 0.25rem $global-black;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;

    &:hover {
      box-shadow: 0 0.25rem 0.5rem $global-black;
      cursor: pointer;
    }

    &:active {
      box-shadow: 0 0.25rem 0.5rem $global-hot-pink;
      cursor: pointer;
      transform: scale(.95, .95);
      transition-property: transform;
      transition-duration: 150ms;
    }
  }
}

@media(max-width:600px) {
  h1 {
    padding: 0.25rem;
  }

  .info-container {
    margin: 0 auto;
    width: 100%;
    
    &__map, &__links {
      padding: 0 1rem;
      width: 100%;
    }
  }
  
}