// colors
$global-black: #0C0904;
$global-gold: #CBB77E;
$global-white: #fffaf0;
$global-light-gray: #FFF0F5;
$global-medium-gray: #656769;
$global-hot-pink: #EA324E;

// typefaces
$regular-font: 'Noto Sans JP', sans-serif;
$header-font:  'Contrail One', cursive;

// element selectors
body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  background: $global-light-gray;
  color: $global-black;
  font-family: $header-font;
  letter-spacing: 0.25rem;
  padding: 1rem;
  text-shadow: -3px 3px $global-hot-pink;
  width: 70%;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  hyphens: auto;
  margin: 0 auto 1rem;
  width: 70%;
}

// custom selectors
.header {
  box-shadow: 0px 2px 4px 1px darkgray;
  display: flex;

  &__letter {
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    font-size: clamp(1rem, 3vw, 3rem);
    justify-content: center;
    margin: auto;
    transition: 500ms;

    &:hover {
      box-shadow: inset 0px 4px 6px -1px black;
      transition-property: box-shadow;
      transition-duration: 50ms;
    }
  }
}



.team-page {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  &__main {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
    &__geography {
      border: 1px solid orange;
      width: 100%;
      height: 100%;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
  
      // &__map {
      //   width: 100%;
      // }
    }
  
    &__logo {
      align-items: center;
      align-content: center;
      border: 1px solid red;
      display: flex;
      justify-content: center;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
  
      & img {
        width: 50%;
      }
    }
  
    &__team-image {
      border: 1px solid blue;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      width: 100%;
  
      & img {
        object-fit: cover;
      }
    }
  }

  &__summary {
    border-radius: 2px;
    box-shadow: inset -1px 4px 6px 2px $global-medium-gray;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 16px;
    width: auto;

    & h2 {
      font-size: clamp(16px, 5vw, 48px);
      overflow-wrap: break-word;
    }
  }

}

.teams-container {
  align-items: center;
  box-shadow: 0 0.125rem 16px -7px #0C0904;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 1rem;
  padding: 1rem;
  width: 90%;
  
  &__logo {
    height: 8rem;
  }

  &__logo-container {
    align-items: center;
    background: darkgray;
    box-shadow: 0 0.125rem 0.25rem $global-black;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;

    &:hover {
      box-shadow: 0 0.25rem 0.5rem $global-black;
      cursor: pointer;
    }

    &:active {
      box-shadow: 0 0.25rem 0.5rem $global-hot-pink;
      cursor: pointer;
      transform: scale(.95, .95);
      transition-property: transform;
      transition-duration: 150ms;
    }
  }
}

// media queries
// with different column widths
