// colors
$global-black: #0C0904
$global-gold: #CBB77E
$global-white: #fffaf0
$global-light-gray: #CBCDCA
$global-medium-gray: #656769
$global-hot-pink: #EA324E

// typefaces
$header-font: 'Notable', sans-serif
$regular-font: 'Noto Sans JP', sans-serif

// selectors
h1
  color: $global-black
  font-family: $header-font
  text-shadow: 0 -0.0625rem 0.0625rem $global-light-gray

link
  display: block
  
.header
  background: $global-black
  display: flex
  font-size: clamp(1rem, 2vw, 2rem)
  justify-content: center
  margin: auto
  padding: 1rem
      
.teams-container
  align-items: center
  box-shadow: 0 0.125rem 1.5rem 0.25rem $global-light-gray
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 1rem auto
  padding: 1rem

.team-logo
  height: 8rem

.team-logo-container 
  align-items: center
  box-shadow: 0 0.125rem 0.25rem rgba(203, 205, 202, 0.8)
  display: flex
  margin: 1rem
  padding: 1rem
  justify-content: center 
    